
.hero-image{
    background-image: url("./20240626_111926.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    color: rgb(146, 6, 6);
    position:absolute;
    text-align: center;
    top:100px;
    width: 100%;
    font-size:100px;
} 
div{
    top:100;
}
.nav-bar{
    background-color: rgb(51, 0, 255);
    display: flex;
    justify-content: flex-end; 
    padding: 20px 20px 20px 20px;
    
}
.circle-images{
    width:100px;
    height: 100px;
    border-radius: 790px;    
}
a{
    color: white;
    text-decoration: none;
}