.rectangle1{
    width:1917px;
    height: 37px;
    background-color:rgb(138,0,23);
    text-align: right;
    padding-top: 20px;
    margin-left: -20px;  
    margin-top: -9px;
    border-bottom:3px solid rgb(255, 255, 255);
    border-top:3px solid rgb(255, 255, 255);
    background-image: url("./TE\ puia\ one.jpg");
}
.rectangle2{
    width:1917px;
    height: 50px;
    background-color:rgb(138,0,23);
    text-align: right;
    padding-top: 20px;
    margin-left: -20px;  
    margin-top: -9px;
    border-bottom:3px solid rgb(255, 255, 255);
    border-top:3px solid rgb(255, 255, 255);
}
.hero-image{
    background-image: url("./20240626_111926.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20px;  
    margin-right: -11px;    
    width:1917px;
}
.hero-text{
    color: rgb(146, 6, 6);
    position: absolute;
    text-align: center;
    top:100px;
    width: 100%;
    font-size:100px;
    -webkit-text-stroke: 2px white;
} 
a{
    margin-right: 20px;
    font-size:35px;
    color:rgb(255, 255, 255);
}
.attraction-image{
    background-image: url("./20240626_104441.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    border-radius: 200px;
    width:400px;
    height: 400px;
    padding-top: 20px;
    margin-left:45px;
}
.image-background{
    width: 1907px;
    height: 440px;
    background-color: rgb(92, 89, 87); 
    margin-left:-10px;
    padding-bottom: 8px;
}
.index-text{
    text-align:center;
    border:3px solid yellow;
}