/*
     This is the code for
     the footers on each page
 */
 .footer-background{
    background-image: url("./footer\ background.jpg");
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(92, 90, 87);
    padding: 30px 20px;
    height:80px;
    padding-bottom:120px;
    width:1880px;
    margin-left:-8px;
    margin-top:5px;
    margin-bottom:-8px;
 }
  .index-footer-background{
    background-image: url("./footer\ background.jpg");
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(87, 92, 88);
    padding: 30px 20px;
    height:80px;
    padding-bottom:120px;
    width:1865px;
    margin-left:-8px;
    margin-top:5px;
    margin-bottom:-8px;
 }
 .footer{
    width:500px;
    background-color:rgb(224, 209, 188);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 40px 20px;
    border-radius: 50px;
    border: 3px solid rgb(0, 0, 0);
 }
img{
    width:600px;
}
/*
     The a are the commands for
     the navigation links
*/
a{
    margin-right: 20px;
    font-size:35px;
    color:rgb(255, 255, 255);
    margin-bottom:10px;

}
/*
     This is the start of the Index Page Styles
*/
/*
     Rectangle on index page
*/
.rectangle1{
    width:1917px;
    height: 37px;
    background-color:rgb(138,0,23);
    text-align: right;
    padding-top: 20px;
    margin-left: -20px;  
    margin-top: -9px;
    margin-bottom:-8px;
    background-image: url("./TE\ puia\ one.jpg");
}
.rectangle2{
    width:1932px;
    height: 50px;
    background-color:rgb(138,0,23);
    text-align: right;  
    padding-top: 20px;
    margin-left: -20px; 
    margin-right: -20px; 
    margin-top: -8px;
    border-bottom:3x solid rgb(255, 255, 255);
    border-top:3px solid rgb(255, 255, 255);
}

.index-rectangle2{
    width:1917px;
    height: 50px;
    background-color:rgb(138,0,23);
    text-align: right;  
    padding-top: 20px;
    margin-left: -20px; 
    margin-right: -20px; 
    margin-top: -8px;
    border-bottom:3x solid rgb(255, 255, 255);
    border-top:3px solid rgb(255, 255, 255);
}
.rectangle3{
    width:1917px;
    height: 50px;
    background-color:rgb(138,0,23);
    text-align: right;
    padding-top: 20px;
    margin-left: -20px;  
    margin-top: -6px;
    margin-bottom:-5px;
    border-bottom:3px solid rgb(255, 255, 255);
    border-top:3px solid rgb(255, 255, 255);
}
/*
     This is the ABOUT TE PUIA section
*/
.index-text{ 
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:1015px;
    padding-left:450px;
    padding-right: 447px;
    margin-left:-15px;
    font-size:large;
    background-color:blanchedalmond;
    margin-top:-30px;
    margin-bottom:-20px;
    padding-bottom:19px;
}
.index-text h1{
    margin-top: 22px;
}
/*The four circle images, gallery items, and circle image
 sections make up the circles and text below on the index page */
.four-circle-images {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
    width: 1906px;
    font-size: 17px;
    height: 580px;
    margin-left: -30px;
    background-color: rgb(0, 0, 0);
    padding-left: 21px;
}
.circle-colour p {
    color:rgb(255, 255, 255);
    margin-top: -8px;
}
.circle-colour h2 { 
    color:white;
}
/* 
     Individual item column 
*/
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    border:3px solid rgb(201, 188, 190);
}
.circle-image {
    width: 440px;
    height: 440px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

/*
        Hero-image is the title image on the index page
*/
.index-hero-image{
    background-image: url("./20240626_111926.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20px;  
    margin-right: -11px;    
    width:1917px;
    border-top:3px solid rgb(255, 255, 255);
}
/*
     This is the text that appears over the hero image
*/
.hero-text{
    color: rgb(146, 6, 6);
    text-align: center;
    top:100px;
    width: 100%;
    font-size:100px;
    -webkit-text-stroke: 2px white;
} 
/*
     This is the end of the Index Page Styles
*/




/*
     This is the start of the Attractions Page Styles
*/
/*
        Hero-image is the title image on the Attractions page
*/
.two-column{
    display:flex;
    gap:100px;
    margin-left:300px;
    margin:10px 10px 10px 10px;
}
.middle-section{
    display:flex;
    gap:50px;
    text-align:center;
}   
.info{
    line-height:15px;
}




/*
     This is the start of the Schools Page Styles
*/
/*
        Hero-image is the title image on the Schools page
*/
.schools-hero-image{
    background-image: url("./20240626_111926.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20px;  
    margin-right: -11px;    
    width:1932px;
     border-top:3px solid rgb(255, 255, 255);
}
.info-boxes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
    width: 1906px;
    font-size: 17px;
    height: 580px;
    margin-left: -30px;
    background-color: blanchedalmond;
    padding-left: 21px;
}
.text-colour p {
    color:rgb(0, 0, 0);
    margin-top: -8px;

}
.text-colour h2 { 
    color:rgb(0, 0, 0);
}
/* 
     Individual item column 
*/
.school-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    border:3px solid rgb(201, 188, 190);

    
}